<div class="container">
  <div>
    <div *ngFor="let user of allUsers">
      <div (click)="console()">Click here</div>
      <!-- {{ user.username }} {{ user.email }} {{ user.phone }} {{ user.age }}
      <div>
        {{ user.address.street }} {{ user.address.city }}
        {{ user.address.state }} {{ user.address.zip }}
      </div>
      <div *ngFor="let job of user.employment">
        {{ job.company }} {{ job.position }}
        <div>Responsibilities:</div>
        <div *ngFor="let respons of job.responsibilities">
          {{ respons }}
        </div>
      </div> -->
    </div>
  </div>
  <h1 class="main-header">Find an existing user or enter a new user below!</h1>
  <hr />
  <h2>Information</h2>
  <form #formControl="ngForm" (ngSubmit)="addUser()">
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            #usernameInput="ngModel"
            type="text"
            [value]="newUsername"
            (input)="onUsernameInput(usernameInput.value)"
            required
            ngModel
            name="newUsername"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            #emailInput="ngModel"
            type="email"
            [value]="newEmail"
            (input)="onEmailInput(emailInput.value)"
            required
            ngModel
            name="newEmail"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Phone number</mat-label>
          <input
            matInput
            #phoneInput="ngModel"
            type="text"
            [value]="newPhone"
            (input)="onPhoneInput(phoneInput.value)"
            required
            ngModel
            name="newPhone"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Age</mat-label>
          <input
            matInput
            #ageInput="ngModel"
            placeholder="Age"
            type="number"
            [value]="newAge"
            (input)="onAgeInput(ageInput.value)"
            required
            ngModel
            name="newAge"
          />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <hr />
    <h2>Address</h2>
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Street Address</mat-label>
          <input
            matInput
            #streetInput="ngModel"
            type="text"
            [value]="newStreet"
            (input)="onStreetInput(streetInput.value)"
            required
            ngModel
            name="newStreet"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>City</mat-label>
          <input
            matInput
            #cityInput="ngModel"
            type="text"
            [value]="newCity"
            (input)="onCityInput(cityInput.value)"
            required
            ngModel
            name="newCity"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>State</mat-label>
          <input
            matInput
            #stateInput="ngModel"
            type="text"
            [value]="newState"
            (input)="onStateInput(stateInput.value)"
            required
            ngModel
            name="newState"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Zip Code</mat-label>
          <input
            matInput
            #zipInput="ngModel"
            type="number"
            [value]="newZip"
            (input)="onZipInput(zipInput.value)"
            required
            ngModel
            name="newZip"
          />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <hr />
    <h2>Employment History</h2>
    <div *ngFor="let job of allEmployment">
      <h3 class="job-history">{{ job.position }} at {{ job.company }}</h3>
    </div>
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Company Name</mat-label>
          <input
            #companyNameInput
            matInput
            type="text"
            [value]="newCompany"
            (input)="onCompanyInput(companyNameInput.value)"
          />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Position</mat-label>
          <input
            #positionInput
            matInput
            type="text"
            [value]="newPosition"
            (input)="onPositionInput(positionInput.value)"
          />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-form-field class="respons-form" appearance="fill">
      <mat-label>Responsibilities</mat-label>
      <textarea
        #responsInput
        matInput
        type="text"
        [value]="newRespons"
        (input)="onResponsInput(responsInput.value)"
      >
      </textarea>
    </mat-form-field>
    <p *ngIf="addEmploymentError" class="error-message">
      {{ addEmploymentError }}
    </p>
    <button
      type="button"
      class="add-work"
      mat-stroked-button
      (click)="addEmployment()"
    >
      Add Work History
    </button>
    <hr />
    <div class="submit-container">
      <p *ngIf="addUserError" class="error-message">
        {{ addUserError }}
      </p>
      <button
        class="submit-button"
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!formControl.form.valid"
      >
        Add User
      </button>
    </div>
  </form>
  <h1 class="header">Existing Users</h1>
  <form>
    <mat-form-field class="search-form" appearance="outline">
      <mat-label>Search users</mat-label>
      <input
        #searchInput
        matInput
        type="search"
        [value]="searchTerm"
        (input)="onSearchInput(searchInput.value)"
      />
    </mat-form-field>
  </form>
  <users-table [users]="tableUsers"></users-table>
</div>
