.container {
  padding: 24px 64px;
  width: 60%;
  max-width: 880px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-header {
  font-weight: 500;
}

.form {
  width: 96%;
  position: absolute;
  left: 0;
}

.job-history {
  margin-bottom: 8px;
}

.respons-form {
  width: 98%;
}

.add-work {
  margin: 4px 0px 8px;
}

.submit-container {
  text-align: center;
}

.error-message {
  color: #f44336;
  font-weight: 400;
  margin: 4px;
}

.submit-button {
  margin: 8px 0px;
  width: 200px;
  height: 44px;
}
