<div class="container">
  <input
    #usernameInput
    placeholder="Name"
    type="text"
    [value]="newUsername"
    (input)="onUsernameInput(usernameInput.value)"
  />
  <input
    #addressInput
    placeholder="Address"
    type="text"
    [value]="newAddress"
    (input)="onAddressInput(addressInput.value)"
  />
  <input
    #phoneInput
    placeholder="Phone number"
    type="text"
    [value]="newPhone"
    (input)="onPhoneInput(phoneInput.value)"
  />
  <input
    #emailInput
    placeholder="Email"
    type="text"
    [value]="newEmail"
    (input)="onEmailInput(emailInput.value)"
  />
  <input
    #ageInput
    placeholder="Age"
    type="number"
    [value]="newAge"
    (input)="onAgeInput(ageInput.value)"
  />
  <input
    #experienceInput
    placeholder="Experience"
    type="text"
    [value]="newExperience"
    (input)="onExperienceInput(experienceInput.value)"
  />
  <input
    #employmentInput
    placeholder="Employment"
    type="text"
    [value]="newEmployment"
    (input)="onEmploymentInput(employmentInput.value)"
  />
  <button (click)="addUser()">Add User</button>
</div>
